body
{
	margin: 0;
	padding: 0;	
}

#sum
{
	text-align : center;
	background-color : #B9B9B9;
	border-bottom : solid 1px #A1A1A1;
}

.frame
{
	width: 319px;
	background-color: #D9D9D9;
	font-size: 14px;
	color: black;
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	border-left: solid 1px #A1A1A1;
	border-right: solid 1px #A1A1A1;
	border-bottom: solid 1px #A1A1A1;
	font-family: 'Ubuntu';
}

.calc-form
{
	margin: 0;
}

.title
{
	background-color: #444444;
	height: 35px; 
	padding-top : 12px;
	border-radius: 5px 5px 0px 0px; 
	padding-left: 31px;
	padding-right: 31px;
	border-top: solid 1px #A1A1A1;
	border-bottom: solid 1px #A1A1A1;
}

.title h1
{
	font-size: 18px;
	color: white;
	text-align: center;	
	font-style : medium;
	margin: 0;
}

.invisible
{
	display: none;
}

.form-submit
{
	width: 165px;
	height: 34px;
	text-align: center;
	font-size: 18px;
	color: white;
	font-style : medium;
	background-color: #444444;
	border-radius: 5px;
	border: solid 1px #3F3A3A;
}

.form-submit:hover
{
	background-color: #D82222;
	border: solid 1px #E71717;
}

.submit
{
	text-align: center;
	padding-top: 33px;
	padding-bottom: 24px;
}

#zero
{
	height: 9px;
	border-radius: 0px 0px 5px 5px; 
	background-color: #444444;
}

.validation-error
{
	color: #E20000;
	border: 1px solid #E20000;
}

ul
{
	margin : 0;
	padding-left: 15px;
	list-style-image: url('../images/counter_x.png');
}

li
{
	padding-left : 15px;
}

label, p
{
	float: right;
}

p
{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0px;
}

.p_active
{
	color: #444444;
	font-weight: bold;
}

.active 
{
	background-image: url('../images/active_alapjarat.png');
	background-repeat : no-repeat;
	background-size : contain; 
	background-position : center center;
    border: solid 1px #444444;
}

.inactive
{
	background-color: white;
    border: solid 1px #A1A1A1;
}

.kw input, .le input
{
    position: relative;
    z-index: -9999;
}

.kw span, .le span 
{
    width: 23px;
    height: 23px;
    display: block;
    border-radius: 5px;
}

.kw span:hover, .le span:hover
{
   
    background-color: #444444;
    border: solid 1px #444444;
}

.slectOne
{
	margin: 0;
}

#p_kw, #p_le
{
	margin-left: 5px;
}

#p_le
{
	margin-right: 15px;
}

#p_kw
{
	margin-right: 4px; 
}