body
{
	margin: 0;
	padding: 0;	
}

#sum
{
	text-align : center;
	background-color : #DBDFE3;
	color: #6A7176;
	border-radius: 5px;
}

#error
{
	background-color : #DBDFE3;
	border-radius: 5px;
}

#error h5
{
	color : #FF0000;
}

.frame
{
	height: auto;
	width: 319px;
	background-color: #E6E9EC;
	font-size: 14px;
	color: #737A7F;
	border-radius: 0px 5px 5px 0px;
	padding: 20px;
	font-weight: normal;
	font-family: 'Ubuntu';
}

.calc-form
{
	margin: 0;
}

.title
{
	height: 0px; 
}

.title h1
{
	font-size: 0px;
	
}

.invisible
{
	display: none;
}

.form-submit
{
	width: 256px;
    height: 50px;
    font-size: 16px;
    color: white;
	text-align: center;
	font-style : medium;
	border-radius: 5px;
	background: linear-gradient(32.39deg, #655fff 0%, rgba(53, 152, 254, 0) 100%);
    background-color: #3598FE;
    border: 0px;
}

.form-submit:hover
{
	background-color: #BD6185;
	border: 0px;
}

.submit
{
	text-align: center;
	padding-top: 60px;
}

#zero
{
	height: 0px;
	border-radius: 0px;
}

select
{
	border: solid 1px white;
	border-radius: 3px;
}

.input
{
	border: solid 1px white;
	border-radius: 3px;
}

.validation-error
{
	color: #E20000;
	border: 1px solid #E20000;
}

ul
{
	margin : 0;
	padding-left: 15px;
	list-style-image: url('../images/counter_x.png');
}

li
{
	padding-left : 15px;
}

label, p
{
	float: right;
}

p
{
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0px;
}

.p_active
{
	color: #1275E6;
	font-weight: bold;
}

.active 
{
	background-image: url('../images/active_ecdh.png');
	background-repeat : no-repeat;
	background-size : contain; 
	background-position : center center;
    border: solid 1px #1275E6;
}

.inactive
{
	background-color: white;
    border: solid 1px #C1C1C1;
}

.kw input, .le input
{
    position: relative;
    z-index: -9999;
}

.kw span, .le span 
{
    width: 23px;
    height: 23px;
    display: block;
    border-radius: 5px;
}

.kw span:hover, .le span:hover
{
   
    background-color: #1275E6;
    border: solid 1px #1275E6;
}

.slectOne
{
	margin: 0;
}

#p_kw, #p_le
{
	margin-left: 5px;
}

#p_le
{
	margin-right: 15px;
}

#p_kw
{
	margin-right: 4px; 
}

@media screen and (max-width: 768px) 
{
	.frame
	{
	width: 290px;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	}

	select
	{
		width: 290px !important;
	}

	.type
	{
		padding-left: 0px !important;
	}

	.center
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.date
	{
		width: 134px !important;
	}

	.form-submit
	{
		width: 290px;
	}

	.submit
	{
		padding-top: 30px;
	}
}
