.center h5
{
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 12px;
}

.center
{
	font-weight : normal;
}

.center h4
{
	font-size: 14px;
	font-weight: normal;
	margin: auto;
	height: 45px;
	width: 210px;
	margin-bottom: 20px;
}

.center h6
{
	font-size: 16px;
	font-weight: normal;
	font-style: regular;
	margin: 0;
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 25px;
}

select, #power
{
	font-size : 18px;
	padding-left : 20px;
	height : 45px;
	width : 100%;
	border: 0px;
	background-color: #F7F7F7;
	margin-bottom: 20px;
}

.tomeg
{
	margin-top: 25px;
}

.date
{
	width: 116px;
	margin-left: 15px;
}

#power
{
	width: 50%;
}

label
{
	padding-top: 12px;
}

#p_kw, #p_le
{
	margin-top: 15px;
}

#sum, #error
{
	margin: 0px 20px;
	margin-top: 20px;
	height: 158px;
	background-color: #F7F7F7;
}

#sum table
{
	width: 257px;
	padding-top: 8px;
	margin: auto;
}

.title2
{
	font-weight : 400;
	font-size: 15px;
}

.value
{
	font-size: 16px;
	text-align: right;
	width: 93px;
}

.sum
{
	font-weight : bold;
	font-size: 36px;
}

.value_sum
{
	font-weight : bold;
	font-size: 36px;
}

.hr
{
	border-bottom: solid 2px #C72026;
}

#error h5
{
	font-weight : 400;
	font-style : italic;
	font-size : 16px;
	color : #C72026;
	margin : 0;
	padding : 20px;
}