.center
{
	font-weight : normal;
	padding-left : 31px;
	padding-right : 31px;
	padding-top: 30px;
	
}

.center h4
{
	font-size: 16px;
	font-weight: normal;
	font-style: regular;
	margin: 0;
	text-align: center;
}

#sum
{
	height: 90px;
	line-height: 90px;
}

#sum h4
{
	font-size: 36px;
	text-align : center;
	margin : 0;
}

#error
{
	height : 89px;
	padding-left : 31px;
	padding-right : 31px;
}
	
#error h5
{
	font-weight : 400;
	font-size : 12px;
	margin : 0;
	padding-top : 10px;
}

select
{
	font-weight : 400;
	font-size : 14px;
	padding-left : 12px;
	height : 34px;
	width: 40% !important;
	color : #2D2D2D;
	margin-left: 15px;
}

#power
{
	font-weight : 400;
	font-size : 16px;
	padding-left : 12px;
	height : 44px;
	width: 55%;
	margin-top: 30px;
}

label
{
	padding-top: 26px;
}

#p_kw, #p_le
{
	margin-top: 42px;
}
