.center
{
	font-weight : normal;
}

.center h4
{
	font-size: 14px;
	font-weight: normal;
	margin: auto;
	height: 45px;
	width: 210px;
	margin-bottom: 20px;
}

#sum, #error
{
	margin: 0px 20px;
	margin-top: 20px;
	height: 90px;
	background-color: #F7F7F7;
	margin-bottom: 10px
}


#sum h4
{
	font-size: 36px;
	text-align : center;
	line-height: 90px;
	margin : 0;
}
	
#error h5
{
	font-weight : 400;
	font-style : italic;
	font-size : 16px;
	color : #C72026;
	margin : 0;
	padding : 20px;
}

select, #power
{
	font-size : 18px;
	padding-left : 20px;
	height : 45px;
	width : 116px;
	border: 0px;
	background-color: #F7F7F7;
	margin-bottom: 20px;
	margin-left: 15px;
}

#power
{
	width: 50%;
	margin-left: 0px
}

label
{
	padding-top: 12px;
}

#p_kw, #p_le
{
	margin-top: 15px;
}