#sum
{
	padding-left : 31px; 
	padding-right: 31px;
	padding-top: 5px;
}

.center
{
	padding-left : 31px; 
	padding-right: 31px;
	padding-top : 30px;
}

.title2
{
	width : 150px; 
	padding-bottom : 10px;
	font-size: 16px;
}

.value
{
	padding-bottom : 10px;
	text-align : right;
	font-weight: bold;
	font-size: 16px;
}

select
{
	font-weight : 400;
	font-style : italic;
	font-size : 14px;
	padding-left : 12px;
	height : 34px;
	width : 257px;
	color : #2D2D2D;
}

#error
{
	height: 106px;
	padding-left: 31px;
	padding-right: 31px;
	background-color: #E1E1E1;
	border-bottom: solid 1px #C1C1C1;
}
	
#error h5
{
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	color: #E20000;
	margin: 0;
	padding-top: 10px;
}

table
{
	width: 257px;
}