#sum
{
	padding-left : 31px; 
	padding-right: 31px;
	padding-top: 5px;
}

.center
{
	padding-left : 31px; 
	padding-right: 31px;
	padding-top : 30px;
}

.title2
{
	width : 150px; 
	padding-bottom : 10px;
	font-size: 16px;
	color: #6A7176;
}

.value
{
	padding-bottom : 10px;
	text-align : right;
	font-weight: bold;
	font-size: 16px;
	color: #6A7176;
}

select
{
	font-weight : 400;
	font-size : 14px;
	padding-left : 12px;
	height : 34px;
	width : 257px;
	color : #2D2D2D;
}

#error
{
	height: 106px;
	padding-left: 31px;
	padding-right: 31px;
}
	
#error h5
{
	font-weight: 400;
	font-size: 12px;
	margin: 0;
	padding-top: 10px;
}

table
{
	width: 257px;
}

.power
{
	margin-bottom: 5px;
}

@media screen and (max-width: 768px)
{
	#sum
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}