#sum
{
	height : 81px;
	text-align : center;
	padding-top : 8px;
	background-color : #E1E1E1;
	border-bottom : solid 1px #C1C1C1;
}

#sum h4
{
	font-family : 'Ubuntu', Bold;
	font-size : 36px;
	margin : 0;
}

#sum h5
{
	font-family :  'Ubuntu', Light Italic;
	font-weight : normal;
	font-style : italic;
	font-size : 16px;
	margin : 0;
}

.type
{
	padding-top : 31px;
	padding-bottom : 25px;
	padding-left : 31px;
}

.type h4
{
	font-family : 'Ubuntu' Regular;
	font-weight : normal;
	font-size : 16px;
	margin : 0;
	margin-bottom : 12px;
}

select
{
	font-family :  'Ubuntu', Light Italic;
	font-weight : normal;
	font-style : italic;
	font-size : 14px;
	padding-left : 12px;
	height : 34px;
	width : 257px;
	color : #2D2D2D;
}

.center
{
	font-weight : normal;
	padding-left : 31px;
	padding-right : 31px;
	
}

.center h3
{
	font-family : 'Ubuntu' Regular;
	font-weight : normal;
	font-size : 16px;
	margin : 0;
	margin-bottom : 12px;
}

.date
{
	width : 118px;
}

.koz
{
	margin-right : 17.7666px;
}

.stb
{
	margin-top : 24px;
}

.error
{
	color: red;
	text-align : center;
}

.error h3
{
	font-weight : normal;
	margin-top : 5px;
}
